@font-face {
    font-family: 'Happiness Sans Title';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HappinessSansTitle/HappinessSansTitle.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HappinessSansTitle/HappinessSansTitle.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HappinessSansTitle/HappinessSansTitle.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HappinessSansTitle/HappinessSansTitle.ttf') format('truetype');
}
